
*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px; 
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-image: url("https://wallpapercave.com/wp/pEeUsp1.jpg");
}

header {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    border-bottom-color: 1px solid #fff;
    position: relative;
}

.logo-img {
    height:10vh;
    margin-top: 5vh;

}

.logo-title {
    color: #fff;
    font-size:medium;
    font-family: Roboto;
    letter-spacing: 0.3em;
    margin-top: 2px;
    text-align: center;
}

.container1{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    position:absolute;
    margin-top: 10vh;
}

.home-icon {
    cursor: pointer;
    margin-left: 10vw;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    display:none; 
}

.toggle-icon {
	width: 100%;
	cursor: pointer;
      
}

.toggle-icon .bar {
	display: block;
	width: 3.5em;
	height: 0.2em;
	margin: 0.7em;
	border-right: 2.5em solid #fff;
	border-left: 0.6em solid #d6d6d6;
	
}

.toggle-icon .bar:nth-of-type(2) {
    transform: rotate(-180deg);
}
.toggled-icon:nth-of-type(2) {
    transform: rotate(-180deg);
}

.pushed{
    display: none;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;   
}

.search-field {
    border:1px solid #ffe81f;
    padding: 0 6px 0 6px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 20vw;
}

.search-input {
    border:none;
    background-color: transparent;
    color: #fff;
    width: 90%;
}
.search-input:focus {
    outline: #000;
    color: #fff;
    width: 90%;
}
.material-icons { 
    color: #ffe81f;
    width:10%;
    height: 100%;
    margin-right: 6px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

li{
    color:#ffe81f;
    margin:5px 15px;
    cursor: pointer;
    font-family: Roboto;
    font-size: large;
    list-style: none;
}

li:hover{
    font-weight: bold;
}


main {
    margin-left: auto;
    margin-right: auto;
    min-height: 70%;
    width: 100%;
    position: relative;
}

.collage-container {
    max-width: 100%; 
    width: 100%;
    height:100%;
    margin: auto;
    display: flex;
}

.collage-container-hidden{
    display: none;
}

.collage-img {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    -webkit-mask-image: radial-gradient(black 30%, transparent 67%);   
    mask-image: radial-gradient(black 30%, transparent 67%);
}

.collection-container{
    max-width: 100%; 
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.collection-container-hidden{
    display: none;
}

.card{
    width: 300px; 
    height: 300px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    position: relative 
}

.card img{
    width: 100%;
    max-width: 300px;
    height: 90%;
    object-fit:cover;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.icon {
   position:absolute;
   top:10px;
   right:10px;
   cursor: pointer; 
   color: #fff;
   font-size: 25px;
}
.inFav {
    color: #ffe81f;
    font-size: 20px;
    cursor: default; 
}
.deleteFav {
   color: #ffe81f;
   font-size: 20px;
}

.card p {
    color:#000;
    margin: auto;
    text-align: center;
    font-family: Roboto;
}

footer {
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    color: #d6d6d6;
}
footer p {
    margin: 3px;
    text-align: center;
    font-family: Roboto;
}
footer p:nth-last-of-type(1){
    font-size: small;
    margin-top: 20px;
}
footer span{
    color:#ffe81f
}
footer a {
    color:#ffe81f;
}
.toggle-navigation{
    display: hidden;
}
.toggle-navigation ul {
    display: none;
}
.toggle-pushed-navigation {
    display: hidden;
}

.toggle-pushed-navigation ul {
    display: none;
}

@media only screen and (max-width: 768px) {
    
    .container1 {
        position:unset;
        margin-top:0;
        justify-content: center;
    }
    .search-container{
        margin-left: 30px;
    }
    .home-icon{
        margin-right: 60px;
        margin-top: 6px;
    }
    ul{
        display: none;
    }
    .toggle-container{
        display: flex;
    }
    

    /*Toggle pushed*/
    .pushed {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    }

	    .pushed .bar:nth-of-type(1) {
		opacity: 0;
	    }

	    .pushed .bar:nth-of-type(2) {
		transform: rotate(-135deg);
        border-right-color: #e9b8b9;
        box-shadow: 0.4em 0 0.6em 0.1em rgba(205,40,44,0.75);
	    }
	    .pushed .bar:nth-of-type(3) {
		transform: rotate(-45deg);
        translate: 0 -13px;
        border-right-color: #ddf1da;
        box-shadow: 0.4em 0 0.6em 0.1em rgba(83,228,68,0.65);
	    }

    .toggle-navigation{
        display: none;
    }
    .toggle-pushed-navigation {
        height: 400px;
        width: 300px;
        background-color: #1D1E1F;
        margin: auto;
        position: absolute;
        z-index: 1;
        
    }
        .toggle-pushed-navigation ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 30px;
            margin-top: 10px;
            width: 100%;
        }
        
        .toggle-pushed-navigation li{
            color:#ffe81f;
            margin-top:30px;
            cursor: pointer;
            font-family: Roboto;
            font-size: large;
            list-style: none;
            font-weight: bold;
            letter-spacing: 0.3em;
        }
        
}